.messages-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #08142c;
    overflow-x: hidden;
}

.messages-main{
    flex: 1;
    margin-left: 260px;
    padding: 40px;
    width: calc(100% - 260px);
    min-height: 100vh;
    box-sizing: border-box;
}

.messages-header{
    margin-bottom: 30px;
}

.messages-header h1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 38px;
    color: white;
    margin-bottom: 8px;
}

.heading-icon{
    width: 30px;
    height: 30px;
}

.messages-header p{
    color: #c9d4e7;
    font-size: 16px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 850px;
}

.message-card,
.empty-box{
    width: 100%;
    max-width: 850px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.1);
    box-sizing: border-box;
    color: white;
}

.unread-message{
    border-left: 5px solid #22c55e;
}

.message-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-top h3{
    color: white;
    font-size: 20px;
}

.new-badge{
    background: #22c55e;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}

.message-text{
    margin-top: 15px;
    line-height: 1.7;
    color: #e5e7eb;
}

.message-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-bottom span{
    color: #cbd5e1;
    font-size: 14px;
}

.message-bottom button{
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

@media(max-width: 900px){
    .messages-main{
        margin-left: 0;
        width: 100%;
        padding: 90px 20px 30px;
    }

    .message-bottom{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}
